*{
margin: 0px;
padding: 0px;
}

section {
    display: flex;
    justify-content: center;
    padding: 200px;
    margin-top: 50px;
    //width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 900px;
    width: 700px;
  }
  
  .example-full-width {
    width: 100%;
  }

@media screen and (max-width: 769px){
  
  .example-form {
    width: 300px;
    display: block;
justify-content: center;
  }

}