<section class="container">
    <div>
        <h1 class="text-princ">
            Sobre...
        </h1>
        <div class="text">
            <p>
                Olá, tenho 35 anos, casado.<br> 
                Tenho uma curiosidade grande por tecnologia e por novidades da área.<br>
                Recém formado em 2021 como Técnico em análise e desenvolvimento de sistemas. 
                Tenho focado meu estudos no desenvolvimento backend com JAVA e aplicações RestFull 
                utilizando o ecossistema Spring.
                Constumo colocar um tempo de estudo para o desenvolvimento frontend com Angular.<br>
            </p>

            <P>
                <b>Soft Skills -></b> Através de experiências de trabalhos anteriores em empreas como Unilever, Nestlé, Baterias Moura e atualmente na minha própria Marcenia construir
                soft skills como, comunicação,  gestão de projeto.<br>
                <br>
                <b>Hard Skills -></b> Além do curso técnico busco conhecimentos em cursos livres e pesquisas na web.<br>
                Falo mais sobre em <a routerLink="/habilidade"><i>HABILIDADES</i></a>  
            </P>
        </div>
    </div>
</section>