<section>
    <span id="menu-mobile" class="navbar-toogle">
        <mat-icon>menu</mat-icon>
    </span>
        <header>
            <a class="logo">Dev Jr.</a>
            <ul id="menu-desktop" class="main-nav">
                <li>
                    <a routerLink="/home" class="nav-links">Home</a>
                </li>
                <!-- <li>
                    <a routerLink="/sobre" class="nav-links">Sobre</a>
                </li> -->
                <li>
                    <a routerLink="/habilidade" class="nav-links">Hard Skills</a>
                </li>
                <li>
                    <a routerLink="/projeto" class="nav-links">Projetos</a>
                </li>
                <li>
                    <a routerLink="/contatos" class="nav-links">Contato</a>
                </li>
            </ul>
        </header>
</section>