<section>

  <div class="div-principal">
    <div class="div-sec">
      <h1 class="titulo-projeto">
        Cadastro de produtos
      </h1>
      <p class="text">
        <b>Descrição:</b> A finalidade desse projeto é cadastar uma lista de produtos de um pequeno comércio, <br>
        <b>Detalhes técnicos:</b> Api Rest desenvolvida em Java com spring jpa e native query, 
        o banco utilizado foi o h2, temos uma classe de configuração para instanciar alguns objetos para testes.<br>
        <b>Repositório do projeto:</b> <a href="https://github.com/alfdaniel/Cadastro-de-produtos"> https://github.com/alfdaniel/Cadastro-de-produtos</a>
      </p>
      <div class="video-demo">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
      </div>
    </div>
  </div>

  <div class="div-principal">
    <div class="div-sec">
      <h1 class="titulo-projeto">
        Cadastro de produtos
      </h1>
      <p class="text">
        <b>Descrição:</b> A finalidade desse projeto é cadastar uma lista de produtos de um pequeno comércio, <br>
        <b>Detalhes técnicos:</b> Api Rest desenvolvida em Java com spring jpa e native query, 
        o banco utilizado foi o h2, temos uma classe de configuração para instanciar alguns objetos para testes.<br>
        <b>Repositório do projeto:</b> <a href="https://github.com/alfdaniel/Cadastro-de-produtos"> https://github.com/alfdaniel/Cadastro-de-produtos</a>
      </p>
      <div class="video-demo">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
      </div>
    </div>
  </div>

</section>