<section>

  <div class="div-principal">
    <div class="div-sec">
      <h1 class="titulo-projeto">
        Api Rest - Cadastro de produtos
      </h1>
      <p class="text">
        <b>Descrição:</b> A finalidade desse projeto é cadastar uma lista de produtos de um pequeno comércio. <br>
        <b>Detalhes técnicos:</b> Api Rest desenvolvida em Java com spring. Para fazer o crud criei métodos com
         <b>Native query</b> que podem ser vistos na interface repository, o projeto tem uma classe de configuração para instanciar alguns objetos para testes
          no banco H2 assim que rodar o projeto.<br>
          O projeto no momento só tem uma entidade (product), e segue o pradão MVC.<br><br>
        <b>Repositório do projeto:</b> <a href="https://github.com/alfdaniel/Cadastro-de-produtos" target="_blank"> https://github.com/alfdaniel/Cadastro-de-produtos</a>
      </p>
      <div class="video-demo">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gI9vMzNXLAY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="div-principal">
    <div class="div-sec">
      <h1 class="titulo-projeto">
        Lista de contatos
      </h1>
      <p class="text">
        <b>Descrição:</b> Aplicação para cadastro de lista de contatos.<br>
        <b>Detalhes técnicos:</b> API REST desenvolvida com Java, Spring e banco Postgresql no back, no front foi usado o Angular9. <br>
        <b>Repositório do projeto:</b> <a href="https://github.com/alfdaniel/contactura-neurotech" target="_blank"> https://github.com/alfdaniel/Cadastro-de-produtos</a><br>
        <b>Link do Projeto: </b><a href="https://contatoslista.netlify.app/lista-contatos" target="_blank">https://contatoslista.netlify.app/lista-contatos</a>
      </p>
      <div class="video-demo">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hm_m6Ov3McE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="div-principal">
    <div class="div-sec">
      <h1 class="titulo-projeto">
        Página pessoal
      </h1>
      <p class="text">
        <b>Descrição:</b> Esse é o próprio projeto que você está acessendo, minha página pessoal para portifólio.<br>
        <b>Detalhes técnicos:</b> Html, css, ts com framework Angular9<br>
        <b>Repositório do projeto:</b> <a href="https://github.com/alfdaniel/pagina_pessoal"> https://github.com/alfdaniel/pagina_pessoal</a>
      </p>
      <!-- <div class="video-demo">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
      </div> -->
    </div>
  </div>
</section>