<section class="container">
    <div>
        <h1 class="text-princ">
            Hard Skills
        </h1>
        <div class="tecnologias"><br>
            <img align="center" alt="Daniel-java"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg">
            <img align="center" alt="Daniel-spring" 
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" />
                <img align="center" alt="Daniel-js" 
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" />
                <img align="center" alt="Daniel-js" 
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
                <img align="center" alt="Daniel-js" 
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/oracle/oracle-original.svg" />
            <img align="center" alt="Daniel-angular" 
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
            <img align="center" alt="Daniel-js" 
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
            <img align="center" alt="Daniel-js" 
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-plain.svg" />
            <img align="center" alt="Daniel-js" 
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
            <img align="center" alt="Daniel-js" 
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
        </div>
        <div class="text">
            <p>
                Tenho conhecimento básico na linguagem <b>JAVA</b> e <b>Programação orientada a objetos</b>. 
                Através de cursos livres e de pesquisa aprendi a desenvolver 
                <b>API REST</b>  onde faço um Crud completo utilizando <b>JPA</b> e <b>Native query</b>. <br>
                Subo alguns do meus estudo no github através do sistema de versionamento git.<br><br>
                
                Com Conhecimentos básicos em <b>HTML, CSS, JS, e TS</b>, desenvolvo aplicações frontend com Angular.<br><br>
  
                Na minha páginas de <a routerLink="/projeto"><i>Projetos</i></a> mostro um pouco na prática minhas skils.

            </p>
        </div>
    </div>
</section>