<!-- Home -->
    <div class="title">   
        <div class="apresentacao-pricipal" >
            <div>
                <span  class="apresentacao">
                    <h1>
                        Daniel Ferreira
                    </h1>    
                    <h2>
                        desenvolvedor java JR.<p>                       
                    </h2>
                </span>
            </div>
            <div class="img-apresentacao">
                <img width="250px" class="img2" src="../../assets/img/daniel.jpg">
            </div>
        </div>
    </div>


    <section class="container">
        <div>
            <h1 class="text-princ">
                Sobre o dev...
            </h1>
            <div class="text">
                <p>
                    Olá, sou Daniel Ferreira, tenho 35 anos e sou técnico
                     em análise e desenvolvimento de sistemas. Atualmente estudo de forma autônoma 
                     participando de cursos livres e bootcamps na busca pelo aperfeiçoamento como 
                     desenvolvedor backend, assim venho evoluindo na linguagem Java e em todo 
                     seu ecossistema. Tenho domínio básico no desenvolvimento de API Rest 
                     utilizando Spring Framework. Acredito na busca constate do conhecimento, em 
                     relações verdadeiras e na boa comunicação  para alcançar meus objetivos.
                    Constumo colocar um tempo de estudo para o desenvolvimento frontend com Angular, 
                    Framework que utilizei para desenvolver essa página.<br>
                </p>
    
                <P>
                    <b>Soft Skills -></b> Através de experiências de trabalhos anteriores em empresas como Unilever, Nestlé, 
                    Baterias Moura e atualmente na minha própria Marcenaria, 
                    construir soft skills como:<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Gestão de tempo;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Comunicação;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Gestão de projeto;<br> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Trabalho em equipe;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Dor de dono, entre outros.<br>
                    <br>
                    <b>Hard Skills -></b> Além da formação técnica busco conhecimentos em cursos livres e pesquisas na web, falo mais sobre o assunto na área <a routerLink="/habilidade"><i>Hard Skills</i></a>  
                </P>
            </div>
        </div>
    </section>
