<!-- Home -->
    <div class="title">   
        <div class="apresentacao-pricipal" >
            <div>
                <span  class="apresentacao">
                    <h1>
                        Daniel Ferreira
                    </h1>    
                    <h2>
                        desenvolvedor java JR.<p>                       
                    </h2>
                </span>
            </div>
            <div class="img-apresentacao">
                <img width="250px" class="img2" src="../../assets/img/daniel.jpg">
            </div>
        </div>
    </div>


    <section class="container">
        <div>
            <h1 class="text-princ">
                Sobre o dev...
            </h1>
            <div class="text">
                <p>
                    Tenho uma curiosidade grande por tecnologia e por novidades da área.<br>
                    Sou recém formado ao final de 2021 como Técnico em análise e desenvolvimento de sistemas,  
                    no momento tenho focado meu estudos no desenvolvimento <b>backend com JAVA</b> e aplicações RestFull 
                    utilizando o ecossistema Spring.<br>
                    Constumo colocar um tempo de estudo para o desenvolvimento frontend com Angular.<br>
                </p>
    
                <P>
                    <b>Soft Skills -></b> Através de experiências de trabalhos anteriores em empreas como Unilever, Nestlé, 
                    Baterias Moura e atualmente na minha própria Marcenaria, construir
                    soft skills como:<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Gestão de tempo;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Comunicação;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Gestão de projeto;<br> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Trabalho em equipe;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Dor de dono, entre outros.<br>
                    <br>
                    <b>Hard Skills -></b> Além da formação técnica busco conhecimentos em cursos livres e pesquisas na web, falo mais sobre o assunto na área <a routerLink="/habilidade"><i>Hard Skills</i></a>  
                </P>
            </div>
        </div>
    </section>
